.footer {
  &-menu {
    list-style: none;
  }

  &-item {
    font-size: 1.8em;
    font-weight: 700;
  }

  &-label {
    font-size: 0.8em;
    padding: 10px;
  }

  @media (min-width: 750px) {
    display: flex;
    flex: row;
  }
}
